@import "tailwindcss";
@config "../../tailwind.config.ts";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@layer utilities {
  /* 스크롤바 숨기기 */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --color-backdrop: #212121;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;

  --color-primary: #e70051;
  --color-primary-content: #fff2f2;
  --color-secondary: #9e54ff;
  --color-secondary-content: #f5f3ff;
  --color-accent: #2dd4bf;
  --color-accent-content: #134e4a;
  --color-neutral: #374151;
  --color-neutral-content: #fff;
  --color-base-100: #fff;
  --color-base-200: #f7f7f7;
  --color-base-300: #e4e4e4;
  --color-base-400: #d4d4d8;
  --color-base-content: #000;
  --color-info: #06b6d4;
  --color-info-content: #164e63;
  --color-success: #4ade80;
  --color-success-content: #14532d;
  --color-warning: #eab308;
  --color-warning-content: #713f12;
  --color-error: #f87171;
  --color-error-content: #7f1d1d;
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: dark;

  --color-primary: #ff326f;
  --color-primary-content: #fff2f2;
  --color-secondary: #9e54ff;
  --color-secondary-content: #f5f3ff;
  --color-accent: #2dd4bf;
  --color-accent-content: #134e4a;
  --color-neutral: #4b5462;
  --color-neutral-content: #fff;
  --color-base-100: #000;
  --color-base-200: #1a1a1a;
  --color-base-300: #2d2d2d;
  --color-base-400: #52525d;
  --color-base-content: #fff;
  --color-info: #06b6d4;
  --color-info-content: #164e63;
  --color-success: #4ade80;
  --color-success-content: #14532d;
  --color-warning: #eab308;
  --color-warning-content: #713f12;
  --color-error: #f87171;
  --color-error-content: #7f1d1d;
}
